{% extends "adminpage.html" %}

{% block content %}

<div class="content-section">
<form class="form-horizontal"  method="POST">
  <fieldset>
    <legend>Edit Event</legend>
     {{form.csrf_token}}
      {{form.name.label(class = "form-control-label")}} 
      {{form.name(class="form-control form-control-lg")}}
      {{form.courses.label(class = "form-control-label")}}
      {{form.courses(class = "form-control")}}
      <small>(Please enter course names separated by a comma)</small>
      <br>
      {{form.regopen.label(class = "form-control-label")}} 
      {{form.regopen(class="form-control form-control-lg")}}
      {{form.regclose.label(class = "form-control-label")}} 
      {{form.regclose(class="form-control ")}} 
      {{form.place.label(class = "form-control-label")}} 
      {{form.place(class="form-control form-control-lg")}}
      {{form.date.label(class = "form-control-label")}} 
      {{form.date(class="form-control form-control")}}
      
      
      <div class="input-group">
      <div class="input-group-prepend">
        {{form.description.label(class = "input-group-text")}}
      </div>
        {{form.description(class="form-control form-control-lg")}}
      </div>
      {{form.poster.label(class = "form-control-label")}} {{form.poster}}
      <small>Add jpeg or jpg files only.</small><br><br>
      <input type="submit" value = "Add Event" class="btn btn-primary">
      <a class="btn btn-primary-outlin">Cancel</a>
    </fieldset>
</form>
</div>
{% endblock %}