  {% extends "adminpage.html" %}

{% block content %}
<style type="text/css">
	section {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	section div p {
		font-size: 4rem;
	}
	section div div {
		font-size: 2rem;
		text-align: center;
	}
</style>
 <div class="jumbotron">
 <h4>Welcome To</h4>	
<h1>Feedback System</h1>
 </div>

<section>

	<div>
		<p>Aditya Engineering College</p>
		<div>Enlightens the Nescience</div>
	</div>
</section>
{% endblock %}