{% extends "userpage.html" %}

{% block content %}


<div class="content-section">
<form class="form-horizontal"  method="POST">
  <fieldset>
    <legend>Register for a Great Time</legend>
     {{form.hidden_tag()}}
      {{form.old password.label(class = "form-control-label")}} 
      {{form.old password(class="form-control form-control-lg")}}
      {{form.new password.label(class = "form-control-label")}} 
      {{form.new password(class="form-control form-control-lg")}}
      {{form.confirm password.label(class = "form-control-label")}} 
      {{form.confirm password(class="form-control form-control-lg")}}
      
      <br>  {{form.submit(class = "btn btn-primary")}}
  </fieldset>
</form>
</div>
{% endblock %}